<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>win_s0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>win_s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>win_s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win_square-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{268,800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:727bc4f49eb44387364d9072d4a7fdc6$</string>
            <key>textureFileName</key>
            <string>win_square-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
