<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,241},{235,179}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{235,179}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,241},{213,221}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{213,221}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>BONUS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>ICON1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,241},{235,237}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>ICON2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>ICON3.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>ICON4.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>J.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,241},{211,207}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{211,207}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>K.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,2},{159,219}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,10},{159,219}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,241},{213,219}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{213,219}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>SCATER.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>WILD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icons_m_6-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1358,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:030ce868c5789c026da1cbf5201c12da:1/1$</string>
            <key>textureFileName</key>
            <string>icons_m_6-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
