<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boost_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2254},{386,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,294}}</string>
                <key>sourceSize</key>
                <string>{386,294}</string>
            </dict>
            <key>boost_2x_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2396},{386,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,294}}</string>
                <key>sourceSize</key>
                <string>{386,294}</string>
            </dict>
            <key>boost_3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2254},{386,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,294}}</string>
                <key>sourceSize</key>
                <string>{386,294}</string>
            </dict>
            <key>boost_3xactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2147},{386,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,294}}</string>
                <key>sourceSize</key>
                <string>{386,294}</string>
            </dict>
            <key>boost_4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1958},{386,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,294}}</string>
                <key>sourceSize</key>
                <string>{386,294}</string>
            </dict>
            <key>boost_4x_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1958},{386,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,294}}</string>
                <key>sourceSize</key>
                <string>{386,294}</string>
            </dict>
            <key>boost_5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,1804},{386,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,294}}</string>
                <key>sourceSize</key>
                <string>{386,294}</string>
            </dict>
            <key>boost_5x_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,2100},{386,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,294}}</string>
                <key>sourceSize</key>
                <string>{386,294}</string>
            </dict>
            <key>boost_activeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1804},{428,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,341}}</string>
                <key>sourceSize</key>
                <string>{428,341}</string>
            </dict>
            <key>boost_bigBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1071},{1714,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1714,615}}</string>
                <key>sourceSize</key>
                <string>{1714,615}</string>
            </dict>
            <key>boost_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2396},{375,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,104}}</string>
                <key>sourceSize</key>
                <string>{375,104}</string>
            </dict>
            <key>boost_buy_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2502},{375,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,104}}</string>
                <key>sourceSize</key>
                <string>{375,104}</string>
            </dict>
            <key>boost_oneBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2443},{383,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,564}}</string>
                <key>sourceSize</key>
                <string>{383,564}</string>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1071},{238,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,104}}</string>
                <key>sourceSize</key>
                <string>{238,104}</string>
            </dict>
            <key>btn_buy_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1177},{238,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,104}}</string>
                <key>sourceSize</key>
                <string>{238,104}</string>
            </dict>
            <key>buy_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1807,1067}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1807,1067}}</string>
                <key>sourceSize</key>
                <string>{1807,1067}</string>
            </dict>
            <key>buy_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,109},{199,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,135}}</string>
                <key>sourceSize</key>
                <string>{199,135}</string>
            </dict>
            <key>buy_arrow0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,246},{121,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,36}}</string>
                <key>sourceSize</key>
                <string>{121,36}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,246},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>discountBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,2},{200,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,105}}</string>
                <key>sourceSize</key>
                <string>{200,105}</string>
            </dict>
            <key>field.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1688},{1698,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1698,114}}</string>
                <key>sourceSize</key>
                <string>{1698,114}</string>
            </dict>
            <key>tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1804},{516,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,152}}</string>
                <key>sourceSize</key>
                <string>{516,152}</string>
            </dict>
            <key>tab_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1804},{516,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,152}}</string>
                <key>sourceSize</key>
                <string>{516,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_buy_menu-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2013,3009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac5fd4c71f36ae89f7ee9e4b515d3dc2$</string>
            <key>textureFileName</key>
            <string>sp_buy_menu-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
