<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boost_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1134},{193,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,147}}</string>
                <key>sourceSize</key>
                <string>{193,147}</string>
            </dict>
            <key>boost_2x_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1205},{193,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,147}}</string>
                <key>sourceSize</key>
                <string>{193,147}</string>
            </dict>
            <key>boost_3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{193,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,147}}</string>
                <key>sourceSize</key>
                <string>{193,147}</string>
            </dict>
            <key>boost_3xactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1080},{193,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,147}}</string>
                <key>sourceSize</key>
                <string>{193,147}</string>
            </dict>
            <key>boost_4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{193,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,147}}</string>
                <key>sourceSize</key>
                <string>{193,147}</string>
            </dict>
            <key>boost_4x_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,985},{193,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,147}}</string>
                <key>sourceSize</key>
                <string>{193,147}</string>
            </dict>
            <key>boost_5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,907},{193,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,147}}</string>
                <key>sourceSize</key>
                <string>{193,147}</string>
            </dict>
            <key>boost_5x_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1056},{193,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,147}}</string>
                <key>sourceSize</key>
                <string>{193,147}</string>
            </dict>
            <key>boost_activeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,907},{214,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,171}}</string>
                <key>sourceSize</key>
                <string>{214,171}</string>
            </dict>
            <key>boost_bigBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{857,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{857,308}}</string>
                <key>sourceSize</key>
                <string>{857,308}</string>
            </dict>
            <key>boost_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1205},{188,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,52}}</string>
                <key>sourceSize</key>
                <string>{188,52}</string>
            </dict>
            <key>boost_buy_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1259},{188,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,52}}</string>
                <key>sourceSize</key>
                <string>{188,52}</string>
            </dict>
            <key>boost_oneBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1229},{192,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,282}}</string>
                <key>sourceSize</key>
                <string>{192,282}</string>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,538},{119,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,52}}</string>
                <key>sourceSize</key>
                <string>{119,52}</string>
            </dict>
            <key>btn_buy_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,592},{119,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,52}}</string>
                <key>sourceSize</key>
                <string>{119,52}</string>
            </dict>
            <key>buy_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{904,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{904,534}}</string>
                <key>sourceSize</key>
                <string>{904,534}</string>
            </dict>
            <key>buy_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{100,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,68}}</string>
                <key>sourceSize</key>
                <string>{100,68}</string>
            </dict>
            <key>buy_arrow0.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,127},{61,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,18}}</string>
                <key>sourceSize</key>
                <string>{61,18}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,127},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>discountBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,72},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>field.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{849,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{849,57}}</string>
                <key>sourceSize</key>
                <string>{849,57}</string>
            </dict>
            <key>tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{258,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,76}}</string>
                <key>sourceSize</key>
                <string>{258,76}</string>
            </dict>
            <key>tab_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,907},{258,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,76}}</string>
                <key>sourceSize</key>
                <string>{258,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_buy_menu-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1010,1513}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2a3796b96b42dbcb15d5d0d7b744840$</string>
            <key>textureFileName</key>
            <string>sp_buy_menu-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
