<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boost_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,989},{181,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,138}}</string>
                <key>sourceSize</key>
                <string>{181,138}</string>
            </dict>
            <key>boost_2x_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{181,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,138}}</string>
                <key>sourceSize</key>
                <string>{181,138}</string>
            </dict>
            <key>boost_3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,922},{181,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,138}}</string>
                <key>sourceSize</key>
                <string>{181,138}</string>
            </dict>
            <key>boost_3xactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{181,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,138}}</string>
                <key>sourceSize</key>
                <string>{181,138}</string>
            </dict>
            <key>boost_4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,849},{181,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,138}}</string>
                <key>sourceSize</key>
                <string>{181,138}</string>
            </dict>
            <key>boost_4x_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,946},{181,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,138}}</string>
                <key>sourceSize</key>
                <string>{181,138}</string>
            </dict>
            <key>boost_5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,666},{181,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,138}}</string>
                <key>sourceSize</key>
                <string>{181,138}</string>
            </dict>
            <key>boost_5x_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,806},{181,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,138}}</string>
                <key>sourceSize</key>
                <string>{181,138}</string>
            </dict>
            <key>boost_activeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,504},{201,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,160}}</string>
                <key>sourceSize</key>
                <string>{201,160}</string>
            </dict>
            <key>boost_bigBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{804,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,288}}</string>
                <key>sourceSize</key>
                <string>{804,288}</string>
            </dict>
            <key>boost_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{176,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,49}}</string>
                <key>sourceSize</key>
                <string>{176,49}</string>
            </dict>
            <key>boost_buy_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1253},{176,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,49}}</string>
                <key>sourceSize</key>
                <string>{176,49}</string>
            </dict>
            <key>boost_oneBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1062},{180,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,265}}</string>
                <key>sourceSize</key>
                <string>{180,265}</string>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{112,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,49}}</string>
                <key>sourceSize</key>
                <string>{112,49}</string>
            </dict>
            <key>btn_buy_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,53},{112,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,49}}</string>
                <key>sourceSize</key>
                <string>{112,49}</string>
            </dict>
            <key>buy_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{847,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{847,500}}</string>
                <key>sourceSize</key>
                <string>{847,500}</string>
            </dict>
            <key>buy_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,155},{93,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,63}}</string>
                <key>sourceSize</key>
                <string>{93,63}</string>
            </dict>
            <key>buy_arrow0.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{57,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,17}}</string>
                <key>sourceSize</key>
                <string>{57,17}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,21},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>discountBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,104},{94,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,49}}</string>
                <key>sourceSize</key>
                <string>{94,49}</string>
            </dict>
            <key>field.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{796,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{796,53}}</string>
                <key>sourceSize</key>
                <string>{796,53}</string>
            </dict>
            <key>tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{242,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,71}}</string>
                <key>sourceSize</key>
                <string>{242,71}</string>
            </dict>
            <key>tab_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,849},{242,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,71}}</string>
                <key>sourceSize</key>
                <string>{242,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_buy_menu-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1329}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2c046927729c3bd382f6b2633527698$</string>
            <key>textureFileName</key>
            <string>sp_buy_menu-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
