<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boost_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,500},{91,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,69}}</string>
                <key>sourceSize</key>
                <string>{91,69}</string>
            </dict>
            <key>boost_2x_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{91,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,69}}</string>
                <key>sourceSize</key>
                <string>{91,69}</string>
            </dict>
            <key>boost_3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,467},{91,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,69}}</string>
                <key>sourceSize</key>
                <string>{91,69}</string>
            </dict>
            <key>boost_3xactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{91,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,69}}</string>
                <key>sourceSize</key>
                <string>{91,69}</string>
            </dict>
            <key>boost_4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,429},{91,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,69}}</string>
                <key>sourceSize</key>
                <string>{91,69}</string>
            </dict>
            <key>boost_4x_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,478},{91,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,69}}</string>
                <key>sourceSize</key>
                <string>{91,69}</string>
            </dict>
            <key>boost_5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,336},{91,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,69}}</string>
                <key>sourceSize</key>
                <string>{91,69}</string>
            </dict>
            <key>boost_5x_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,407},{91,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,69}}</string>
                <key>sourceSize</key>
                <string>{91,69}</string>
            </dict>
            <key>boost_activeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,254},{101,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,80}}</string>
                <key>sourceSize</key>
                <string>{101,80}</string>
            </dict>
            <key>boost_bigBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{402,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,144}}</string>
                <key>sourceSize</key>
                <string>{402,144}</string>
            </dict>
            <key>boost_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{88,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,25}}</string>
                <key>sourceSize</key>
                <string>{88,25}</string>
            </dict>
            <key>boost_buy_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{88,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,25}}</string>
                <key>sourceSize</key>
                <string>{88,25}</string>
            </dict>
            <key>boost_oneBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,538},{90,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,133}}</string>
                <key>sourceSize</key>
                <string>{90,133}</string>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{56,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,25}}</string>
                <key>sourceSize</key>
                <string>{56,25}</string>
            </dict>
            <key>btn_buy_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,29},{56,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,25}}</string>
                <key>sourceSize</key>
                <string>{56,25}</string>
            </dict>
            <key>buy_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,250}}</string>
                <key>sourceSize</key>
                <string>{424,250}</string>
            </dict>
            <key>buy_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,56},{47,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,32}}</string>
                <key>sourceSize</key>
                <string>{47,32}</string>
            </dict>
            <key>buy_arrow0.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,56},{29,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,9}}</string>
                <key>sourceSize</key>
                <string>{29,9}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>discountBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,90},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>field.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{398,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,27}}</string>
                <key>sourceSize</key>
                <string>{398,27}</string>
            </dict>
            <key>tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{121,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,36}}</string>
                <key>sourceSize</key>
                <string>{121,36}</string>
            </dict>
            <key>tab_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,429},{121,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,36}}</string>
                <key>sourceSize</key>
                <string>{121,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_buy_menu.pvr.ccz</string>
            <key>size</key>
            <string>{509,673}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c62312df65d6db6f2ffb1889d157665$</string>
            <key>textureFileName</key>
            <string>sp_buy_menu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
