<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,169}}</string>
                <key>sourceSize</key>
                <string>{237,169}</string>
            </dict>
            <key>popup_bg_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,234},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>popup_bg_btn_ok_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,263},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>popup_bg_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{199,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,59}}</string>
                <key>sourceSize</key>
                <string>{199,59}</string>
            </dict>
            <key>popup_bg_lights.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>popup_bg_stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{175,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,81}}</string>
                <key>sourceSize</key>
                <string>{175,81}</string>
            </dict>
            <key>popup_bg_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,170},{216,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,111}}</string>
                <key>sourceSize</key>
                <string>{216,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_popup.pvr.ccz</string>
            <key>size</key>
            <string>{477,317}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0be76e18d80c45396e61e29d2100e63f$</string>
            <key>textureFileName</key>
            <string>sp_popup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
