<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{473,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,338}}</string>
                <key>sourceSize</key>
                <string>{473,338}</string>
            </dict>
            <key>popup_bg_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,461},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>popup_bg_btn_ok_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,516},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,53}}</string>
                <key>sourceSize</key>
                <string>{115,53}</string>
            </dict>
            <key>popup_bg_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{397,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,117}}</string>
                <key>sourceSize</key>
                <string>{397,117}</string>
            </dict>
            <key>popup_bg_lights.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{468,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,332}}</string>
                <key>sourceSize</key>
                <string>{468,332}</string>
            </dict>
            <key>popup_bg_stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{350,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,162}}</string>
                <key>sourceSize</key>
                <string>{350,162}</string>
            </dict>
            <key>popup_bg_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,336},{432,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,222}}</string>
                <key>sourceSize</key>
                <string>{432,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_popup-hd.pvr.ccz</string>
            <key>size</key>
            <string>{947,625}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e0600dba1b0b2cc623dc168229c052d$</string>
            <key>textureFileName</key>
            <string>sp_popup-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
