<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,360}}</string>
                <key>sourceSize</key>
                <string>{504,360}</string>
            </dict>
            <key>popup_bg_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,491},{123,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,56}}</string>
                <key>sourceSize</key>
                <string>{123,56}</string>
            </dict>
            <key>popup_bg_btn_ok_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,549},{123,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,56}}</string>
                <key>sourceSize</key>
                <string>{123,56}</string>
            </dict>
            <key>popup_bg_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{424,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,125}}</string>
                <key>sourceSize</key>
                <string>{424,125}</string>
            </dict>
            <key>popup_bg_lights.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{499,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,354}}</string>
                <key>sourceSize</key>
                <string>{499,354}</string>
            </dict>
            <key>popup_bg_stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{374,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,173}}</string>
                <key>sourceSize</key>
                <string>{374,173}</string>
            </dict>
            <key>popup_bg_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,358},{461,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,237}}</string>
                <key>sourceSize</key>
                <string>{461,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_popup-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1009,666}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb636efc3ab2ba933fa3b0fee94ee903$</string>
            <key>textureFileName</key>
            <string>sp_popup-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
