<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1008,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1008,720}}</string>
                <key>sourceSize</key>
                <string>{1008,720}</string>
            </dict>
            <key>popup_bg_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,975},{246,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,112}}</string>
                <key>sourceSize</key>
                <string>{246,112}</string>
            </dict>
            <key>popup_bg_btn_ok_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1089},{246,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,112}}</string>
                <key>sourceSize</key>
                <string>{246,112}</string>
            </dict>
            <key>popup_bg_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{847,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{847,249}}</string>
                <key>sourceSize</key>
                <string>{847,249}</string>
            </dict>
            <key>popup_bg_lights.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{997,708}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{997,708}}</string>
                <key>sourceSize</key>
                <string>{997,708}</string>
            </dict>
            <key>popup_bg_stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{747,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,345}}</string>
                <key>sourceSize</key>
                <string>{747,345}</string>
            </dict>
            <key>popup_bg_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,712},{921,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{921,473}}</string>
                <key>sourceSize</key>
                <string>{921,473}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_popup-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2011,1322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b528d73e0e6e7e7535e7fe7ad90fc661$</string>
            <key>textureFileName</key>
            <string>sp_popup-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
