<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>10.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,60},{56,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{56,50}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>A.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,60},{54,52}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{54,52}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>BONUS.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,2},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>ICON1.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,2},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>ICON2.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,2},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>ICON3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,176},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>ICON4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,118},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>J.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,112},{26,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,2},{26,52}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>K.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,112},{54,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{54,50}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>Q.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,60},{50,54}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,1},{50,54}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>SCATER.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,60},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>WILD.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>icons_m_1.pvr.ccz</string>
		<key>size</key>
		<string>{234,234}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:51ba7f1117f81be9446fa8ef837380fb$</string>
		<key>textureFileName</key>
		<string>icons_m_1.pvr.ccz</string>
	</dict>
</dict>
</plist>
