<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,891},{220,194}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{220,194}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,231},{218,212}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{218,212}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>BONUS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,475},{233,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,233}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>ICON1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,655},{234,220}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{234,220}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>ICON2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,942},{226,226}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{226,226}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>ICON3.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1087},{224,224}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{224,224}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>ICON4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,710},{230,230}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{230,230}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>J.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1170},{96,206}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,18},{96,206}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>K.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,451},{218,202}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{218,202}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1},{214,228}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{214,228}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>SCATER.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>WILD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,239},{234,234}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{234,234}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons_m_1-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{457,1318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c81cb834c292d5f11c34b2041736597c:f3ba89cd015d0d784899120e7f9e67c8:3fbf86f399f0540e627b7da623b5b35f$</string>
            <key>textureFileName</key>
            <string>icons_m_1-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
