<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arrow_wheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,244},{155,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,65}}</string>
			<key>sourceSize</key>
			<string>{155,65}</string>
		</dict>
		<key>arrow_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,311},{155,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,65}}</string>
			<key>sourceSize</key>
			<string>{155,65}</string>
		</dict>
		<key>wheel_win.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{240,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,240}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
		<key>yourwin_text.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,244},{49,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,35}}</string>
			<key>sourceSize</key>
			<string>{49,35}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>sp_wheel.pvr.ccz</string>
		<key>size</key>
		<string>{244,378}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:57038a9960029b79a159ce730c18b769$</string>
		<key>textureFileName</key>
		<string>sp_wheel.pvr.ccz</string>
	</dict>
</dict>
</plist>
