<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arrow_wheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,484},{309,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{309,129}}</string>
			<key>sourceSize</key>
			<string>{309,129}</string>
		</dict>
		<key>arrow_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,615},{309,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{309,129}}</string>
			<key>sourceSize</key>
			<string>{309,129}</string>
		</dict>
		<key>wheel_win.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{480,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,480}}</string>
			<key>sourceSize</key>
			<string>{480,480}</string>
		</dict>
		<key>yourwin_text.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,484},{98,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,69}}</string>
			<key>sourceSize</key>
			<string>{98,69}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>sp_wheel-hd.pvr.ccz</string>
		<key>size</key>
		<string>{484,746}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:38b15209e390e850bb9a356ddad372e3$</string>
		<key>textureFileName</key>
		<string>sp_wheel-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
