<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arrow_wheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,142},{326,138}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{326,138}}</string>
			<key>sourceSize</key>
			<string>{330,138}</string>
		</dict>
		<key>arrow_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,2},{330,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{330,138}}</string>
			<key>sourceSize</key>
			<string>{330,138}</string>
		</dict>
		<key>wheel_win.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{512,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,512}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>yourwin_text.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,2},{105,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,74}}</string>
			<key>sourceSize</key>
			<string>{105,74}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>sp_wheel-ipad.pvr.ccz</string>
		<key>size</key>
		<string>{955,516}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4f9adb4a56ba9f9b87ad517275b659d5$</string>
		<key>textureFileName</key>
		<string>sp_wheel-ipad.pvr.ccz</string>
	</dict>
</dict>
</plist>
