<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arrow_wheel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1027,279},{651,275}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{651,275}}</string>
			<key>sourceSize</key>
			<string>{659,275}</string>
		</dict>
		<key>arrow_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{1027,2},{659,275}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{659,275}}</string>
			<key>sourceSize</key>
			<string>{659,275}</string>
		</dict>
		<key>wheel_win.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1023,1024}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1023,1024}}</string>
			<key>sourceSize</key>
			<string>{1023,1024}</string>
		</dict>
		<key>yourwin_text.png</key>
		<dict>
			<key>frame</key>
			<string>{{1688,2},{210,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,147}}</string>
			<key>sourceSize</key>
			<string>{210,147}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>sp_wheel-ipadhd.pvr.ccz</string>
		<key>size</key>
		<string>{1900,1028}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1e903f461e6997e574470c899cf4c858$</string>
		<key>textureFileName</key>
		<string>sp_wheel-ipadhd.pvr.ccz</string>
	</dict>
</dict>
</plist>
