<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_lobby.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>btn_lobby_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,69},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>btn_menubuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>btn_menubuy_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,22},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>btn_paytable.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,69},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>btn_paytable_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,93},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>btn_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,93},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>btn_settings_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,93},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>coins_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{144,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,25}}</string>
                <key>sourceSize</key>
                <string>{144,25}</string>
            </dict>
            <key>exp_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,69},{86,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,21}}</string>
                <key>sourceSize</key>
                <string>{86,21}</string>
            </dict>
            <key>exp_field_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,42},{83,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,18}}</string>
                <key>sourceSize</key>
                <string>{83,18}</string>
            </dict>
            <key>exp_field_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>top_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,34}}</string>
                <key>sourceSize</key>
                <string>{470,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_top_menu.pvr.ccz</string>
            <key>size</key>
            <string>{512,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc1e4e02760d324d196d3a92612c40f7$</string>
            <key>textureFileName</key>
            <string>sp_top_menu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
