<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_lobby.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{120,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,46}}</string>
                <key>sourceSize</key>
                <string>{120,46}</string>
            </dict>
            <key>btn_lobby_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,130},{120,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,46}}</string>
                <key>sourceSize</key>
                <string>{120,46}</string>
            </dict>
            <key>btn_menubuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,176},{76,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,38}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>btn_menubuy_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,216},{76,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,38}}</string>
                <key>sourceSize</key>
                <string>{76,38}</string>
            </dict>
            <key>btn_paytable.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,130},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>btn_paytable_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,178},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>btn_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,178},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>btn_settings_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,178},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>coins_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{308,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,52}}</string>
                <key>sourceSize</key>
                <string>{308,52}</string>
            </dict>
            <key>exp_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,130},{184,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,44}}</string>
                <key>sourceSize</key>
                <string>{184,44}</string>
            </dict>
            <key>exp_field_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,76},{178,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,38}}</string>
                <key>sourceSize</key>
                <string>{178,38}</string>
            </dict>
            <key>exp_field_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>top_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1001,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,72}}</string>
                <key>sourceSize</key>
                <string>{1001,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_top_menu-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1005,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:455b7b6d96cc150f6d83a36015a25a57$</string>
            <key>textureFileName</key>
            <string>sp_top_menu-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
