<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_lobby.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,253},{239,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,91}}</string>
                <key>sourceSize</key>
                <string>{239,91}</string>
            </dict>
            <key>btn_lobby_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,346},{239,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,91}}</string>
                <key>sourceSize</key>
                <string>{239,91}</string>
            </dict>
            <key>btn_menubuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,342},{152,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,75}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>btn_menubuy_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,419},{152,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,75}}</string>
                <key>sourceSize</key>
                <string>{152,75}</string>
            </dict>
            <key>btn_paytable.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,359},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>btn_paytable_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,346},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>btn_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>btn_settings_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,253},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>coins_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{615,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,104}}</string>
                <key>sourceSize</key>
                <string>{615,104}</string>
            </dict>
            <key>exp_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,253},{367,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,87}}</string>
                <key>sourceSize</key>
                <string>{367,87}</string>
            </dict>
            <key>exp_field_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,147},{355,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,75}}</string>
                <key>sourceSize</key>
                <string>{355,75}</string>
            </dict>
            <key>exp_field_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{108,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{108,104}</string>
            </dict>
            <key>top_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2002,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2002,143}}</string>
                <key>sourceSize</key>
                <string>{2002,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_top_menu-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2006,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6085661c20bc4338a7d61cf32031ad1$</string>
            <key>textureFileName</key>
            <string>sp_top_menu-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
