<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menuBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{128,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,27}}</string>
                <key>sourceSize</key>
                <string>{128,27}</string>
            </dict>
            <key>menuBTN2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{67,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,27}}</string>
                <key>sourceSize</key>
                <string>{67,27}</string>
            </dict>
            <key>menuBTN_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{128,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,27}}</string>
                <key>sourceSize</key>
                <string>{128,27}</string>
            </dict>
            <key>menuBTN_active2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,31},{67,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,27}}</string>
                <key>sourceSize</key>
                <string>{67,27}</string>
            </dict>
            <key>menuBTN_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,89},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>menuBTN_close_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,89},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>menuBTN_onoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,125},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>menuBTN_onoff_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,125},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>menuEmpty_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,60},{64,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,27}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
            <key>settingsMenuBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,253}}</string>
                <key>sourceSize</key>
                <string>{171,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_settings_menu.pvr.ccz</string>
            <key>size</key>
            <string>{247,315}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f4f173c6d05375fd59961a05f07ebb9$</string>
            <key>textureFileName</key>
            <string>sp_settings_menu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
