<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menuBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{256,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,53}}</string>
                <key>sourceSize</key>
                <string>{256,53}</string>
            </dict>
            <key>menuBTN2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{134,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,53}}</string>
                <key>sourceSize</key>
                <string>{134,53}</string>
            </dict>
            <key>menuBTN_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{256,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,53}}</string>
                <key>sourceSize</key>
                <string>{256,53}</string>
            </dict>
            <key>menuBTN_active2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,57},{134,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,53}}</string>
                <key>sourceSize</key>
                <string>{134,53}</string>
            </dict>
            <key>menuBTN_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,167},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>menuBTN_close_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,167},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>menuBTN_onoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,236},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>menuBTN_onoff_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,236},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>menuEmpty_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,112},{128,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,53}}</string>
                <key>sourceSize</key>
                <string>{128,53}</string>
            </dict>
            <key>settingsMenuBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{341,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,505}}</string>
                <key>sourceSize</key>
                <string>{341,505}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_settings_menu-hd.pvr.ccz</string>
            <key>size</key>
            <string>{483,619}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d5400510df16f4d1c3560accdad9265$</string>
            <key>textureFileName</key>
            <string>sp_settings_menu-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
