<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menuBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1081},{546,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,112}}</string>
                <key>sourceSize</key>
                <string>{546,112}</string>
            </dict>
            <key>menuBTN2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{286,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{286,110}}</string>
                <key>sourceSize</key>
                <string>{286,112}</string>
            </dict>
            <key>menuBTN_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1195},{546,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,112}}</string>
                <key>sourceSize</key>
                <string>{546,112}</string>
            </dict>
            <key>menuBTN_active2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,114},{286,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{286,110}}</string>
                <key>sourceSize</key>
                <string>{286,112}</string>
            </dict>
            <key>menuBTN_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,340},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>menuBTN_close_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,340},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>menuBTN_onoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,484},{129,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,112}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>menuBTN_onoff_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,484},{129,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,112}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>menuEmpty_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,226},{272,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,112}}</string>
                <key>sourceSize</key>
                <string>{272,112}</string>
            </dict>
            <key>settingsMenuBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{727,1077}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,1077}}</string>
                <key>sourceSize</key>
                <string>{727,1077}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_settings_menu-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1019,1309}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02672097cee78a36371379d3fc644095$</string>
            <key>textureFileName</key>
            <string>sp_settings_menu-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
