<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{465,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,109}}</string>
                <key>sourceSize</key>
                <string>{465,109}</string>
            </dict>
            <key>bonus_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>bonus_separator.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,113},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,38}}</string>
                <key>sourceSize</key>
                <string>{113,38}</string>
            </dict>
            <key>btn_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{110,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,46}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>btn_get_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{110,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,46}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_special_bonus-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{469,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2991b26376aea5c39d820af6212d4a9b$</string>
            <key>textureFileName</key>
            <string>sp_special_bonus-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
