<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,102}}</string>
                <key>sourceSize</key>
                <string>{436,102}</string>
            </dict>
            <key>bonus_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{166,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,36}}</string>
                <key>sourceSize</key>
                <string>{166,36}</string>
            </dict>
            <key>bonus_separator.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,106},{106,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,36}}</string>
                <key>sourceSize</key>
                <string>{106,36}</string>
            </dict>
            <key>btn_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{103,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,43}}</string>
                <key>sourceSize</key>
                <string>{103,43}</string>
            </dict>
            <key>btn_get_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{103,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,43}}</string>
                <key>sourceSize</key>
                <string>{103,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_special_bonus-hd.pvr.ccz</string>
            <key>size</key>
            <string>{440,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4124e00d9c76b2cc15fff41dc83003ea$</string>
            <key>textureFileName</key>
            <string>sp_special_bonus-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
