<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{930,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{930,218}}</string>
                <key>sourceSize</key>
                <string>{930,218}</string>
            </dict>
            <key>bonus_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{353,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,76}}</string>
                <key>sourceSize</key>
                <string>{353,76}</string>
            </dict>
            <key>bonus_separator.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,222},{225,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,76}}</string>
                <key>sourceSize</key>
                <string>{225,76}</string>
            </dict>
            <key>btn_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{220,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,91}}</string>
                <key>sourceSize</key>
                <string>{220,91}</string>
            </dict>
            <key>btn_get_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{220,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,91}}</string>
                <key>sourceSize</key>
                <string>{220,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_special_bonus-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{934,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58ba664556640609a40b08f877c0e017$</string>
            <key>textureFileName</key>
            <string>sp_special_bonus-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
