<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{706,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,431}}</string>
                <key>sourceSize</key>
                <string>{706,431}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg0_5-hd.pvr.ccz</string>
            <key>size</key>
            <string>{706,431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a60abb80a8ae96c0bf47f8d5e37d5a8:1/1$</string>
            <key>textureFileName</key>
            <string>bg0_5-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
