<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,241},{225,177}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{225,177}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,241},{213,191}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{213,191}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>BONUS.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,239},{237,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{237,235}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>ICON1.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{233,237}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{233,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>ICON2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,239},{235,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{235,235}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>ICON3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>ICON4.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{235,235}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{235,235}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>J.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,2},{145,183}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{145,183}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>K.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{215,185}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,27},{215,185}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,189},{151,187}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{151,187}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>SCATER.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{237,235}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{237,235}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>WILD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icons_m_4-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1316,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3f67b93a735c00a6c4019a6a55d855c:1/1$</string>
            <key>textureFileName</key>
            <string>icons_m_4-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
