<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,2},{107,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{107,83}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{101,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{101,91}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>BONUS.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>ICON1.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>ICON2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>ICON3.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>ICON4.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>J.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{69,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{69,87}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>K.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{101,89}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{101,89}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,2},{71,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{71,89}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>SCATER.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>WILD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icons_m_4-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1252,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0b3ca197e7b2cd6e5707f00aa1588bb:1/1$</string>
            <key>textureFileName</key>
            <string>icons_m_4-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
