<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bottom_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1001,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1001,102}}</string>
                <key>sourceSize</key>
                <string>{1001,102}</string>
            </dict>
            <key>boost_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,235},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>btn_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,276},{179,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,46}}</string>
                <key>sourceSize</key>
                <string>{179,46}</string>
            </dict>
            <key>btn_bet_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,248},{179,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,46}}</string>
                <key>sourceSize</key>
                <string>{179,46}</string>
            </dict>
            <key>btn_boosts.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,272},{148,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,81}}</string>
                <key>sourceSize</key>
                <string>{148,81}</string>
            </dict>
            <key>btn_boosts_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,355},{148,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,81}}</string>
                <key>sourceSize</key>
                <string>{148,81}</string>
            </dict>
            <key>btn_buymore.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,152},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>btn_buymore_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,152},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,106},{148,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,81}}</string>
                <key>sourceSize</key>
                <string>{148,81}</string>
            </dict>
            <key>btn_close_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,189},{148,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,81}}</string>
                <key>sourceSize</key>
                <string>{148,81}</string>
            </dict>
            <key>btn_lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,152},{179,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,46}}</string>
                <key>sourceSize</key>
                <string>{179,46}</string>
            </dict>
            <key>btn_lines_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,200},{179,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,46}}</string>
                <key>sourceSize</key>
                <string>{179,46}</string>
            </dict>
            <key>btn_maxbet.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,438},{214,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,46}}</string>
                <key>sourceSize</key>
                <string>{214,46}</string>
            </dict>
            <key>btn_maxbet_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,438},{213,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,46}}</string>
                <key>sourceSize</key>
                <string>{213,46}</string>
            </dict>
            <key>btn_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{213,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,81}}</string>
                <key>sourceSize</key>
                <string>{213,81}</string>
            </dict>
            <key>btn_spin_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{213,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,81}}</string>
                <key>sourceSize</key>
                <string>{213,81}</string>
            </dict>
            <key>btn_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{213,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,81}}</string>
                <key>sourceSize</key>
                <string>{213,81}</string>
            </dict>
            <key>btn_stop_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{213,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,81}}</string>
                <key>sourceSize</key>
                <string>{213,81}</string>
            </dict>
            <key>btn_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,272},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>btn_x2_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,355},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>btn_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,106},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>btn_x3_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,189},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>btn_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,272},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>btn_x4_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,355},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>btn_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,106},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>btn_x5_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,189},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>lastwin_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,106},{181,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,44}}</string>
                <key>sourceSize</key>
                <string>{181,44}</string>
            </dict>
            <key>lines_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,324},{166,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,44}}</string>
                <key>sourceSize</key>
                <string>{166,44}</string>
            </dict>
            <key>maxbet_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,106},{201,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,44}}</string>
                <key>sourceSize</key>
                <string>{201,44}</string>
            </dict>
            <key>spin_boost2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,438},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>spin_boost3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,438},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>spin_boost4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,438},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>spin_boost5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_bottom_menu-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1024,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c56ca9f0aea1b8a31feecddfbbc6efe$</string>
            <key>textureFileName</key>
            <string>sp_bottom_menu-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
