<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bottom_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,48}}</string>
                <key>sourceSize</key>
                <string>{470,48}</string>
            </dict>
            <key>boost_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,52},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>btn_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,101},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,22}}</string>
                <key>sourceSize</key>
                <string>{84,22}</string>
            </dict>
            <key>btn_bet_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,76},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,22}}</string>
                <key>sourceSize</key>
                <string>{84,22}</string>
            </dict>
            <key>btn_boosts.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,52},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>btn_boosts_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,92},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>btn_buymore.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,132},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>btn_buymore_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,172},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>btn_close_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,212},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>btn_lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,101},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,22}}</string>
                <key>sourceSize</key>
                <string>{84,22}</string>
            </dict>
            <key>btn_lines_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,125},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,22}}</string>
                <key>sourceSize</key>
                <string>{84,22}</string>
            </dict>
            <key>btn_maxbet.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,77},{100,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>btn_maxbet_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,52},{100,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>btn_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>btn_spin_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>btn_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>btn_stop_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>btn_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,52},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>btn_x2_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,92},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>btn_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,172},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>btn_x3_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,212},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>btn_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,212},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>btn_x4_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,132},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>btn_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,132},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>btn_x5_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,172},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>lastwin_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,75},{85,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,21}}</string>
                <key>sourceSize</key>
                <string>{85,21}</string>
            </dict>
            <key>lines_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,98},{78,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,21}}</string>
                <key>sourceSize</key>
                <string>{78,21}</string>
            </dict>
            <key>maxbet_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,52},{95,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,21}}</string>
                <key>sourceSize</key>
                <string>{95,21}</string>
            </dict>
            <key>spin_boost2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,52},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>spin_boost3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,212},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>spin_boost4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,27},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>spin_boost5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_bottom_menu.pvr.ccz</string>
            <key>size</key>
            <string>{508,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d5eedb064776986a384cdd4bf0741a9$</string>
            <key>textureFileName</key>
            <string>sp_bottom_menu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
