<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bottom_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{939,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{939,96}}</string>
                <key>sourceSize</key>
                <string>{939,96}</string>
            </dict>
            <key>boost_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,100},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>btn_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,145},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>btn_bet_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,190},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>btn_boosts.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,299},{139,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,76}}</string>
                <key>sourceSize</key>
                <string>{139,76}</string>
            </dict>
            <key>btn_boosts_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,377},{139,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,76}}</string>
                <key>sourceSize</key>
                <string>{139,76}</string>
            </dict>
            <key>btn_buymore.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,143},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>btn_buymore_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,221},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,143},{139,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,76}}</string>
                <key>sourceSize</key>
                <string>{139,76}</string>
            </dict>
            <key>btn_close_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,221},{139,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,76}}</string>
                <key>sourceSize</key>
                <string>{139,76}</string>
            </dict>
            <key>btn_lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,455},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>btn_lines_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,100},{168,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,43}}</string>
                <key>sourceSize</key>
                <string>{168,43}</string>
            </dict>
            <key>btn_maxbet.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,455},{200,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,43}}</string>
                <key>sourceSize</key>
                <string>{200,43}</string>
            </dict>
            <key>btn_maxbet_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,455},{200,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,43}}</string>
                <key>sourceSize</key>
                <string>{200,43}</string>
            </dict>
            <key>btn_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{200,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,76}}</string>
                <key>sourceSize</key>
                <string>{200,76}</string>
            </dict>
            <key>btn_spin_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{200,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,76}}</string>
                <key>sourceSize</key>
                <string>{200,76}</string>
            </dict>
            <key>btn_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{200,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,76}}</string>
                <key>sourceSize</key>
                <string>{200,76}</string>
            </dict>
            <key>btn_stop_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{200,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,76}}</string>
                <key>sourceSize</key>
                <string>{200,76}</string>
            </dict>
            <key>btn_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,178},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>btn_x2_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,221},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>btn_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,100},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>btn_x3_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,143},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>btn_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,299},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>btn_x4_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,377},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>btn_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,143},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>btn_x5_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,221},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>lastwin_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,100},{170,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,41}}</string>
                <key>sourceSize</key>
                <string>{170,41}</string>
            </dict>
            <key>lines_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,100},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>maxbet_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{189,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,41}}</string>
                <key>sourceSize</key>
                <string>{189,41}</string>
            </dict>
            <key>spin_boost2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>spin_boost3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,96},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>spin_boost4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,49},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>spin_boost5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_bottom_menu-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1015,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be7d4dbb30dcbfd912f9d3cd43a0a017$</string>
            <key>textureFileName</key>
            <string>sp_bottom_menu-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
