<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bottom_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2002,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2002,204}}</string>
                <key>sourceSize</key>
                <string>{2002,204}</string>
            </dict>
            <key>boost_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,208},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,479},{358,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,91}}</string>
                <key>sourceSize</key>
                <string>{358,91}</string>
            </dict>
            <key>btn_bet_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,572},{358,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,91}}</string>
                <key>sourceSize</key>
                <string>{358,91}</string>
            </dict>
            <key>btn_boosts.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,208},{296,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,161}}</string>
                <key>sourceSize</key>
                <string>{296,161}</string>
            </dict>
            <key>btn_boosts_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,371},{296,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,161}}</string>
                <key>sourceSize</key>
                <string>{296,161}</string>
            </dict>
            <key>btn_buymore.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,534},{233,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,161}}</string>
                <key>sourceSize</key>
                <string>{233,161}</string>
            </dict>
            <key>btn_buymore_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,697},{233,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,161}}</string>
                <key>sourceSize</key>
                <string>{233,161}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{296,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,161}}</string>
                <key>sourceSize</key>
                <string>{296,161}</string>
            </dict>
            <key>btn_close_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,860},{296,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,161}}</string>
                <key>sourceSize</key>
                <string>{296,161}</string>
            </dict>
            <key>btn_lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,301},{358,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,91}}</string>
                <key>sourceSize</key>
                <string>{358,91}</string>
            </dict>
            <key>btn_lines_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,394},{358,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,91}}</string>
                <key>sourceSize</key>
                <string>{358,91}</string>
            </dict>
            <key>btn_maxbet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,208},{427,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,91}}</string>
                <key>sourceSize</key>
                <string>{427,91}</string>
            </dict>
            <key>btn_maxbet_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,208},{426,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,91}}</string>
                <key>sourceSize</key>
                <string>{426,91}</string>
            </dict>
            <key>btn_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{426,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,161}}</string>
                <key>sourceSize</key>
                <string>{426,161}</string>
            </dict>
            <key>btn_spin_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{426,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,161}}</string>
                <key>sourceSize</key>
                <string>{426,161}</string>
            </dict>
            <key>btn_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{426,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,161}}</string>
                <key>sourceSize</key>
                <string>{426,161}</string>
            </dict>
            <key>btn_stop_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{426,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,161}}</string>
                <key>sourceSize</key>
                <string>{426,161}</string>
            </dict>
            <key>btn_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,208},{233,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,161}}</string>
                <key>sourceSize</key>
                <string>{233,161}</string>
            </dict>
            <key>btn_x2_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,371},{233,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,161}}</string>
                <key>sourceSize</key>
                <string>{233,161}</string>
            </dict>
            <key>btn_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,697},{233,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,161}}</string>
                <key>sourceSize</key>
                <string>{233,161}</string>
            </dict>
            <key>btn_x3_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,860},{233,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,161}}</string>
                <key>sourceSize</key>
                <string>{233,161}</string>
            </dict>
            <key>btn_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,860},{233,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,161}}</string>
                <key>sourceSize</key>
                <string>{233,161}</string>
            </dict>
            <key>btn_x4_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,534},{233,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,161}}</string>
                <key>sourceSize</key>
                <string>{233,161}</string>
            </dict>
            <key>btn_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,534},{233,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,161}}</string>
                <key>sourceSize</key>
                <string>{233,161}</string>
            </dict>
            <key>btn_x5_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,697},{233,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,161}}</string>
                <key>sourceSize</key>
                <string>{233,161}</string>
            </dict>
            <key>lastwin_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,390},{362,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,87}}</string>
                <key>sourceSize</key>
                <string>{362,87}</string>
            </dict>
            <key>lines_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,665},{332,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,87}}</string>
                <key>sourceSize</key>
                <string>{332,87}</string>
            </dict>
            <key>maxbet_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,301},{402,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,87}}</string>
                <key>sourceSize</key>
                <string>{402,87}</string>
            </dict>
            <key>spin_boost2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,402},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>spin_boost3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,305},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>spin_boost4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,208},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>spin_boost5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,860},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sp_bottom_menu-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2006,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2c1e83ed137b171998a13bd5250543c$</string>
            <key>textureFileName</key>
            <string>sp_bottom_menu-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
