<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,223},{193,211}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{193,211}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,241},{159,221}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{159,221}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>BONUS.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>ICON1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,241},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>ICON2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>ICON3.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,241},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>ICON4.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>J.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,2},{145,215}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,11},{145,215}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>K.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{147,219}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,9},{147,219}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,241},{165,219}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{165,219}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>SCATER.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>WILD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icons_m_2-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1260,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0545b25871e8df9c3abce01c4b1dc880:1/1$</string>
            <key>textureFileName</key>
            <string>icons_m_2-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
