<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2024},{1498,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,14}}</string>
                <key>sourceSize</key>
                <string>{1498,14}</string>
            </dict>
            <key>line_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1502},{1498,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,411}}</string>
                <key>sourceSize</key>
                <string>{1498,411}</string>
            </dict>
            <key>line_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,2},{1498,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,409}}</string>
                <key>sourceSize</key>
                <string>{1498,409}</string>
            </dict>
            <key>line_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2943,2},{1498,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,276}}</string>
                <key>sourceSize</key>
                <string>{1498,276}</string>
            </dict>
            <key>line_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3221,2},{1498,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,271}}</string>
                <key>sourceSize</key>
                <string>{1498,271}</string>
            </dict>
            <key>line_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2647,2},{1498,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,294}}</string>
                <key>sourceSize</key>
                <string>{1498,294}</string>
            </dict>
            <key>line_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2347,2},{1498,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,298}}</string>
                <key>sourceSize</key>
                <string>{1498,298}</string>
            </dict>
            <key>line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2008},{1498,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,14}}</string>
                <key>sourceSize</key>
                <string>{1498,14}</string>
            </dict>
            <key>line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1992},{1498,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,14}}</string>
                <key>sourceSize</key>
                <string>{1498,14}</string>
            </dict>
            <key>line_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{1498,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,488}}</string>
                <key>sourceSize</key>
                <string>{1498,488}</string>
            </dict>
            <key>line_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{1498,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,488}}</string>
                <key>sourceSize</key>
                <string>{1498,488}</string>
            </dict>
            <key>line_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3707,2},{1498,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,207}}</string>
                <key>sourceSize</key>
                <string>{1498,207}</string>
            </dict>
            <key>line_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3494,2},{1498,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,211}}</string>
                <key>sourceSize</key>
                <string>{1498,211}</string>
            </dict>
            <key>line_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{1498,719}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,719}}</string>
                <key>sourceSize</key>
                <string>{1498,719}</string>
            </dict>
            <key>line_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1498,721}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,721}}</string>
                <key>sourceSize</key>
                <string>{1498,721}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lines_p1-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{3916,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a084cb42005d08d70768fe500a67644$</string>
            <key>textureFileName</key>
            <string>Lines_p1-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
