<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,753},{749,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,7}}</string>
                <key>sourceSize</key>
                <string>{749,7}</string>
            </dict>
            <key>line_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,753},{749,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,206}}</string>
                <key>sourceSize</key>
                <string>{749,206}</string>
            </dict>
            <key>line_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{749,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,205}}</string>
                <key>sourceSize</key>
                <string>{749,205}</string>
            </dict>
            <key>line_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1480},{749,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,138}}</string>
                <key>sourceSize</key>
                <string>{749,138}</string>
            </dict>
            <key>line_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{749,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,136}}</string>
                <key>sourceSize</key>
                <string>{749,136}</string>
            </dict>
            <key>line_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1331},{749,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,147}}</string>
                <key>sourceSize</key>
                <string>{749,147}</string>
            </dict>
            <key>line_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{749,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,149}}</string>
                <key>sourceSize</key>
                <string>{749,149}</string>
            </dict>
            <key>line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{749,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,7}}</string>
                <key>sourceSize</key>
                <string>{749,7}</string>
            </dict>
            <key>line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,2},{749,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,7}}</string>
                <key>sourceSize</key>
                <string>{749,7}</string>
            </dict>
            <key>line_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{749,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,244}}</string>
                <key>sourceSize</key>
                <string>{749,244}</string>
            </dict>
            <key>line_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{749,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,244}}</string>
                <key>sourceSize</key>
                <string>{749,244}</string>
            </dict>
            <key>line_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1866},{749,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,104}}</string>
                <key>sourceSize</key>
                <string>{749,104}</string>
            </dict>
            <key>line_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{749,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,106}}</string>
                <key>sourceSize</key>
                <string>{749,106}</string>
            </dict>
            <key>line_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{749,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,360}}</string>
                <key>sourceSize</key>
                <string>{749,360}</string>
            </dict>
            <key>line_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{749,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,361}}</string>
                <key>sourceSize</key>
                <string>{749,361}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lines_p1-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1017,1972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:939fb5e25b4dba90a76ccc4c0c40e110$</string>
            <key>textureFileName</key>
            <string>Lines_p1-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
