<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,375},{371,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,4}}</string>
                <key>sourceSize</key>
                <string>{371,4}</string>
            </dict>
            <key>line_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,375},{371,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,102}}</string>
                <key>sourceSize</key>
                <string>{371,102}</string>
            </dict>
            <key>line_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{371,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,101}}</string>
                <key>sourceSize</key>
                <string>{371,101}</string>
            </dict>
            <key>line_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{371,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,69}}</string>
                <key>sourceSize</key>
                <string>{371,69}</string>
            </dict>
            <key>line_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{371,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,67}}</string>
                <key>sourceSize</key>
                <string>{371,67}</string>
            </dict>
            <key>line_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{371,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,73}}</string>
                <key>sourceSize</key>
                <string>{371,73}</string>
            </dict>
            <key>line_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{371,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,74}}</string>
                <key>sourceSize</key>
                <string>{371,74}</string>
            </dict>
            <key>line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{371,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,4}}</string>
                <key>sourceSize</key>
                <string>{371,4}</string>
            </dict>
            <key>line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{371,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,4}}</string>
                <key>sourceSize</key>
                <string>{371,4}</string>
            </dict>
            <key>line_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{371,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,121}}</string>
                <key>sourceSize</key>
                <string>{371,121}</string>
            </dict>
            <key>line_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{371,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,121}}</string>
                <key>sourceSize</key>
                <string>{371,121}</string>
            </dict>
            <key>line_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{371,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,51}}</string>
                <key>sourceSize</key>
                <string>{371,51}</string>
            </dict>
            <key>line_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{371,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,52}}</string>
                <key>sourceSize</key>
                <string>{371,52}</string>
            </dict>
            <key>line_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{371,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,178}}</string>
                <key>sourceSize</key>
                <string>{371,178}</string>
            </dict>
            <key>line_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{371,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,179}}</string>
                <key>sourceSize</key>
                <string>{371,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lines_p1.pvr.ccz</string>
            <key>size</key>
            <string>{510,987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3578bd684daac7659377a4512b8043a$</string>
            <key>textureFileName</key>
            <string>Lines_p1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
