<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2128},{1498,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,271}}</string>
                <key>sourceSize</key>
                <string>{1498,271}</string>
            </dict>
            <key>line_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,2128},{1498,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,265}}</string>
                <key>sourceSize</key>
                <string>{1498,265}</string>
            </dict>
            <key>line_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3628},{1498,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,432}}</string>
                <key>sourceSize</key>
                <string>{1498,432}</string>
            </dict>
            <key>line_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2128},{1498,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,435}}</string>
                <key>sourceSize</key>
                <string>{1498,435}</string>
            </dict>
            <key>line_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2128},{1498,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,371}}</string>
                <key>sourceSize</key>
                <string>{1498,371}</string>
            </dict>
            <key>line_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2128},{1498,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,366}}</string>
                <key>sourceSize</key>
                <string>{1498,366}</string>
            </dict>
            <key>line_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1126},{1498,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,556}}</string>
                <key>sourceSize</key>
                <string>{1498,556}</string>
            </dict>
            <key>line_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{3002,2},{1498,558}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,558}}</string>
                <key>sourceSize</key>
                <string>{1498,558}</string>
            </dict>
            <key>line_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{1498,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,556}}</string>
                <key>sourceSize</key>
                <string>{1498,556}</string>
            </dict>
            <key>line_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,568},{1498,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,556}}</string>
                <key>sourceSize</key>
                <string>{1498,556}</string>
            </dict>
            <key>line_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1498,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,566}}</string>
                <key>sourceSize</key>
                <string>{1498,566}</string>
            </dict>
            <key>line_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,2},{1498,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,564}}</string>
                <key>sourceSize</key>
                <string>{1498,564}</string>
            </dict>
            <key>line_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1629},{1498,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,497}}</string>
                <key>sourceSize</key>
                <string>{1498,497}</string>
            </dict>
            <key>line_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{1498,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,499}}</string>
                <key>sourceSize</key>
                <string>{1498,499}</string>
            </dict>
            <key>line_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{3562,2},{1498,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1498,466}}</string>
                <key>sourceSize</key>
                <string>{1498,466}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lines_p2-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{4030,4062}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc337a7357fbed9181fe6e120e87d793$</string>
            <key>textureFileName</key>
            <string>Lines_p2-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
