<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1070},{749,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,136}}</string>
                <key>sourceSize</key>
                <string>{749,136}</string>
            </dict>
            <key>line_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1070},{749,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,133}}</string>
                <key>sourceSize</key>
                <string>{749,133}</string>
            </dict>
            <key>line_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1821},{749,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,216}}</string>
                <key>sourceSize</key>
                <string>{749,216}</string>
            </dict>
            <key>line_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{749,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,218}}</string>
                <key>sourceSize</key>
                <string>{749,218}</string>
            </dict>
            <key>line_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1070},{749,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,186}}</string>
                <key>sourceSize</key>
                <string>{749,186}</string>
            </dict>
            <key>line_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1070},{749,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,183}}</string>
                <key>sourceSize</key>
                <string>{749,183}</string>
            </dict>
            <key>line_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,566},{749,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,278}}</string>
                <key>sourceSize</key>
                <string>{749,278}</string>
            </dict>
            <key>line_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,2},{749,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,279}}</string>
                <key>sourceSize</key>
                <string>{749,279}</string>
            </dict>
            <key>line_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{749,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,278}}</string>
                <key>sourceSize</key>
                <string>{749,278}</string>
            </dict>
            <key>line_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,286},{749,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,278}}</string>
                <key>sourceSize</key>
                <string>{749,278}</string>
            </dict>
            <key>line_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{749,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,283}}</string>
                <key>sourceSize</key>
                <string>{749,283}</string>
            </dict>
            <key>line_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{749,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,282}}</string>
                <key>sourceSize</key>
                <string>{749,282}</string>
            </dict>
            <key>line_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{749,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,249}}</string>
                <key>sourceSize</key>
                <string>{749,249}</string>
            </dict>
            <key>line_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{749,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,250}}</string>
                <key>sourceSize</key>
                <string>{749,250}</string>
            </dict>
            <key>line_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,2},{749,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,233}}</string>
                <key>sourceSize</key>
                <string>{749,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lines_p2-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{2020,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a18c4f39026a238dee7e1b386217803$</string>
            <key>textureFileName</key>
            <string>Lines_p2-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
